body {
    font-size: 1em;
    margin: 0;
    background: url(./images/bg.jpg) center/cover no-repeat fixed;
    color: white;
}
.container {
    padding: 1rem;
    max-width: 50vh;
    margin: 0 auto;
}
.accordion-header {
    border-radius: .5em .5em 0 0;
    background-color: #607d8b;
    max-width: max-content;
    padding: .5em 1em;
}
.accordion-header h1 {
    margin-block-start: 0;
    margin-block-end: 0
}
.accordion-container {
    border-radius: 0 .5em .5em .5em;
    overflow: hidden;
}
.accordion-container:hover .tab-icon {
    width: 1em;
    height: 1em;
}
.tab-checker {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.tab-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #607d8b;
    padding: 0.5em 1em;
}
.tab-icon {
    border-radius: 50%;
    width: 0;
    height: 0;
    background: url('./images/emoji-smile-fill.svg') center/cover;
    fill: white;
}
.tab-header:hover > .tab-icon, .tab-checker:checked + .tab-header > .tab-icon {
    background: url('./images/emoji-dizzy-fill.svg') center/cover;
}
.tab-container {
    height: 0;
    overflow: hidden;
}
.tab-image {
    width: 100%;
    height: auto;
    display: block;
    
}
.tab-image:hover {
    outline: 2px dashed white;
    outline-offset: -10px;
    
}
.tab-checker:checked + .tab-header + .tab-container,
.tab-header:hover+.tab-container,
.tab-header + .tab-container:hover {
    display: block;
    height: 50px;
    background-color: #b0bec5;
    height: 100%;
}

